<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .name}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<style>
    /*body*/
    body {
        margin: 0;
        padding: 0;
        background-color: #FFCC99;
    }
    /*nav*/
    .nav-item{
        margin-left: 80px;
    }

    .search{
        margin-left: 100px;
    }

    /*main*/

    /*footer*/
    footer{
        text-align: center;
    }
</style>
<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light p-5">
        <a class="navbar-brand" href="/">Онлайн-библиотека</a>      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/">Главная страница</a>
            </li>
            {{if gt .id 0}}
            <li class="nav-item">
              <a class="nav-link" href="/book">Все книги</a>
            </li>
            {{end}}
          </ul>
        </div>
        {{if gt .id 0}}
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/user/{{ .id}}">{{ .full_name}}</a>
          </li>
        </ul> 
        {{else}}
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/login">Вход</a>
          </li>
        </ul>
        {{end}}
      </nav>

    <main class="m-5">
        <table>
          <tr>
            <form action="/search" method="POST">  
              <td><input class="form-control mr-sm-2" name="search" type="search" placeholder="Поиск книг" aria-label="Search"></td>
              <td><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button></td>
            </form>
          </tr>
        </table>      
        <table>
            <tr>
                <th>Название</th>
                <th>Автор</th>
                <th>Ссылка</th>
                <th>Оценка</th>
                <th>Ваша оценка</th>
            </tr>

            {{ range $key, $value := .books}}
            <tr>
                <td style="padding-right: 100px;">{{ $value.Name}}</td>
                <td style="padding-right: 50px;">{{ $value.Author}}</td>
                <td style="padding-right: 10px;"><a href="/book/{{ $value.Id}}">Ссылка</a></td>
                <td>{{ $value.Mark}}</td>
                <td>
                  <form id="update_mark_form" action="/book/{{ $value.Id}}" method="post">
                    <input type="number" name="mark" id="mark" min="0" max="5" value="0">
                    <button class="btn btn-success my-2 my-sm-0" type="submit">Оценить</button></td>
                  </form>
                </td>
            </tr>
            {{ end}}

        </table>
    </main>

    <footer class="footer-dark bg-dark">
        <div class="card">
            <div class="card-header">
              Цитата
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>Хорошие друзья, хорошие книги и спящая совесть – вот идеальная жизнь.</p>
                <div class="blockquote-footer">Марк Твен</div>
              </blockquote>
            </div>
          </div>
    </footer>
</body>
<script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js">
</script>
<script>
   $('#update_mark_form').submit(function(e){
        e.preventDefault();
        var formData = $(this).serialize();
        var formAction = $(this).attr('action')
        $.ajax({
            url: formAction,
            data: formData,
            type: "PUT",
            
            success: function(data){
                window.location.href = "/book";
            }
        });

    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>